
/********** Base styles **********/
*
{
	font-family: Arial;
	margin: 0px;
  	box-sizing: border-box;
}

p{
	margin:10px;
}

h1{
	padding: 30px;
	text-align: center;
  	font-size: 1.75em;
}

h2
{ 
	text-align: right;
	color:white;
  	font-size: 1.25em;
  	padding: 10px;
  	float:right;
}

p
{
	clear:both;
	justify-content:all;
	padding: 10px;
	overflow:hidden;
	white-space: pre-wrap; /* Don't forget this one */
	text-overflow: ellipsis;
}
#p1 h2
{
	background-color: rgba(70, 150, 220, .6);
}
#p2 h2
{
	background-color: rgba(170, 50, 220, .6);
}
#p3 h2
{
	background-color: rgba(70, 150, 120, .6);
}

#p1 
{	
	border : solid 0.1em rgba(70, 150, 220, .3);
}

#p2 
{	
	border : solid 0.1em rgba(170, 50, 220, .3);
}

#p3 
{	
	border : solid 0.1em rgba(70, 150, 120, .3);
}

.product
{
	position: relative;	
	float:left;
}

.product div:nth-child(1)
{
	margin: 10px;
	background-color: rgba(50, 50, 50, .05);
}

h2{
	min-width: 40%;
}

/* Simple Responsive Framework. */
/********** Small devices **********/
@media (max-width: 767px)
{
	.product
	{
		width: 100%;
		padding-left: 8%;	
		padding-right: 8%;	
	}

	p
	{		
		min-height: 200px;	
		max-height: 200px;	
	}
}

/********** Medium devices **********/
@media (min-width: 768px) AND (max-width: 991px)
{
	.product
	{
		width: 50%;		
	}

	p
	{		
		min-height: 250px;	
		max-height: 250px;	
	}

	section .product:last-child:nth-child(odd)
	{
		width: 100%;		
	}

}

/********** Large devices **********/
@media (min-width: 992px)
{
	.product
	{
		width: 33%;	
	}	

	p
	{
		min-height: 250px;	
		max-height: 250px;		
	}
}